<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span title="tital centar">Forgot password?</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="forgotPaswordForm">
    <div fxLayout="column">
      <!-- MatFormField for entering an email. -->
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            forgotPaswordForm.controls.email.touched &&
            forgotPaswordForm.controls.email.invalid
          "
        >
          <!-- Error messages for the email field. -->
          <span *ngIf="forgotPaswordForm.controls.email.errors.required"
            >This field is mandatory</span
          >
          <span *ngIf="forgotPaswordForm.controls.email.errors.pattern"
            >This field is invalid</span
          >
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<!-- MatDialogActions for aligning and displaying action buttons within a dialog. -->
<mat-dialog-actions align="center">
  <!-- Button for submitting the form with a "Sign Up" label. -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(forgotPaswordForm.valid && forgotPaswordForm.dirty)"
  >
    Send Password
  </button>
  <!-- Button for closing the dialog. -->
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
