/* CSS for mat-toolbar element */
.mat-toolbar {
    /* Negative margin to remove excess spacing around the toolbar. */
    margin: -24px;
    /* Set the width to auto, allowing it to expand to fit the content. */
    width: auto;
    /* Add a margin at the bottom of the toolbar. */
    margin-bottom: 10px;
}

/* CSS for elements with the 'title-center' class */
.title-center {
    /* Flex properties to center the text within its container. */
    flex: 1 1 auto;
    text-align: center;
}

/* CSS for mat-form-field elements */
mat-form-field {
    /* Add padding to the mat-form-field elements. */
    padding: 5px;
}
