<style>
    .section-heading {
      color: #1C1D1E; 
    }
  </style>
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Spanish Latte</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Delight in the layers of flavor with our Lasagna at Coffee Lab! 
                            Enjoy wide pasta sheets embracing a savory blend of seasoned meats and rich cheeses, 
                            all baked to perfection. Savor the comfort of tradition
                             in every bite. Welcome to Coffee Lab, where our Lasagna is a delicious 
                             journey in simplicity and taste.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Lasagna</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Indulge in the culinary masterpiece that is our Lasagna at Coffee Lab. 
                            Layers of wide pasta sheets envelop a savory blend of 
                            seasoned meats and rich cheeses, creating a symphony of flavors. 
                            Baked to perfection, each bite is a perfect balance of comfort and 
                            tradition. At Coffee Lab, we redefine the art of lasagna, offering a 
                            delightful experience that captures the essence of Italian cuisine in every mouthful.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Elevate your taste experience with our exquisite Pasta at Coffee Lab. Our 
                            perfectly cooked pasta is adorned with a choice of rich and flavorful sauces, 
                            creating a symphony of textures and tastes. From classic marinara to creamy Alfredo, 
                            each dish is a culinary journey that celebrates the artistry of Italian cuisine. 
                            At Coffee Lab, we invite you to savor the simple perfection of pasta, where every 
                            twirl of the fork brings joy to your palate.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten Chocolate Cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Indulge in the decadence of our Molten Chocolate Cake at Coffee Lab. A symphony of rich, 
                            gooey chocolate awaits as you break through the outer layer to reveal the luscious, molten center. 
                            Baked to perfection, this dessert is a celebration of chocolatey bliss. 
                            Served warm, each spoonful is a journey into velvety delight, making it the 
                            perfect finale to your dining experience at Coffee Lab. Treat yourself to the 
                            irresistible allure of our Molten Chocolate Cake, where every bite is a moment of pure indulgence.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>