<!-- Header section with a dynamic title based on 'dialogData.action' -->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <!-- Display the title, which can be dynamic based on 'dialogData.action' -->
    <span class="title-center">{{ dialogData.action }} Product</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- This section contains the form content -->
<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <!-- Input field for the 'name' property -->
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
          <!-- Display an error message if the 'name' field is touched and invalid -->
          <mat-error
            *ngIf="
              productForm.controls.name.touched &&
              productForm.controls.name.invalid
            "
          >
            <span *ngIf="productForm.controls.name.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <!-- Input field for the 'price' property -->
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Price(LKR)</mat-label>
          <input matInput formControlName="price" required />
          <!-- Display an error message if the 'price' field is touched and invalid -->
          <mat-error
            *ngIf="
              productForm.controls.price.touched &&
              productForm.controls.price.invalid
            "
          >
            <span *ngIf="productForm.controls.price.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>
        <!-- Input field for selecting a 'Category' -->
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option
              *ngFor="let category of categorys"
              [value]="category.id"
              >{{ category.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
          <!-- Input field for the 'description' property -->
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required />
            <!-- Display an error message if the 'description' field is touched and invalid -->
            <mat-error
              *ngIf="
                productForm.controls.description.touched &&
                productForm.controls.description.invalid
              "
            >
              <span *ngIf="productForm.controls.description.errors.required"
                >This field is mandatory.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<!-- Action buttons at the bottom of the dialog -->
<mat-dialog-actions align="center">
  <!-- Button to submit the form with a dynamic label based on 'action' -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(productForm.valid && productForm.dirty)"
  >
    {{ action }}
  </button>

  <!-- Button to close the dialog -->
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>

